{
  // "presets": [
  //     "@babel/preset-react",
  //     "@babel/preset-env",
  //     "@babel/preset-typescript"
  // ],
  "plugins": [
    [
      "formatjs",
      {
        "idInterpolationPattern": "[sha512:contenthash:base64:6]",
        "ast": true
      }
    ]
  ]
}
